*.iml
.gradle
.idea/
.kotlin/
.vscode/
misc.xml
deploymentTargetDropDown.xml
local.properties
*.log
.DS_Store
build
captures
.externalNativeBuild/
.cxx/
*.apk
output.json

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof